

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:url(../ressources/images/background/background.jpg) no-repeat;
  height: 100%;
  background-position: bottom center;
  opacity: 0.6;
  z-index: -1;
}
a{
  text-decoration: none;
  color: rgb(33, 62, 77);
}


/****************************************************************************************/
/****************************************TITLES******************************************/
/****************************************************************************************/

h1+p{
  text-align: center;
  margin-top: -50px;
}
.title-main{
  font-family: mangaregular;
  color: rgb(175, 12, 12);
  font-size: 6rem;
  text-align: center;
  text-shadow: 10px 10px 10px black;
  margin-top: -5px;
}
.title-second{
  font-family: manga_speakregular;
  font-size: 50px;
  background: linear-gradient(to right, rgb(155,12,12) 0%, rgb(255,30,26) 50%);
  -webkit-background-clip: text;/*donne le background sur le text*/
  -webkit-text-fill-color: transparent;/*rend le background transparent*/
}
.title-chars{
  font-family: manga_templeregular;
}
p{
  text-indent: 50px;
  font-family: mangalaregular;
  font-size: 18px;
  text-align: justify;
  font-weight: bold;
  line-height: 25px;
}

/****************************************************************************************/
/*****************************************BANNERS****************************************/
/****************************************************************************************/

.banner{
  margin-top: 15px;
  width: 20%;
  border-radius: 5px;
  position: relative;
  box-shadow: 8px 8px 8px #1c1a19;
  margin-bottom: 25px;
}

.info-banner{
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(24,24,24,0.8);
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
  text-indent: 0;
  font-family: mangalaregular;
  font-size: 14px;
  margin: 0;
  z-index: 2;
}

/****************************************************************************************/
/*****************************************HEADER MAIN************************************/
/****************************************************************************************/

.header-main{
  border: 3px red outset;
  border-radius: 50px;
}


/****************************************************************************************/
/********************************SECTION SYNOPSIS****************************************/
/****************************************************************************************/
.synopsis{
  overflow: hidden;
}
.logo-princ{
  text-align: center;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}


/****************************************************************************************/
/********************************SECTION CHARACTERS**************************************/
/****************************************************************************************/

.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters .title-second,
.characters p:first-of-type{
  width: 100%;
}

.character{
  width: 20%;
  text-align: center;
}

.char-pic{
  width: 100%;
}

.lock-on-hover{
  opacity: 0;
  transition: all 500ms;
}

a:hover .lock-on-hover{
  opacity: 1;
}


/****************************************************************************************/
/************************************SECTION AUTOR***************************************/
/****************************************************************************************/

.autor-life{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.autor-life .title-second{
  width: 100%;
}

.autor-progress{
  text-align: center;
  width: 26%;
  overflow: hidden;
}

.autor-progress .manga-cover{
  width: 25%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cover-name{
  font-style: italic;
}

/****************************************************************************************/
/*************************************SECTION ANIME**************************************/
/****************************************************************************************/

.anime p:nth-of-type(2){
  text-align: center;
}

.demo{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work{
  width: 50%;
  text-align: center;
}

.work p{
  text-align: center;
}

/****************************************************************************************/
/*****************************************FOOTER*****************************************/
/****************************************************************************************/

.footer-main p{
  text-align: center;
}






/*****************************************************************************************/
/*****************************************RESPONSIVE**************************************/
/*****************************************************************************************/

@media (max-width: 1500px){
  .logo-princ {
    text-align: center;
    float: none;
    width : 100%;
  }
  .banner{
    box-shadow: none;
  }
  .characters {
     flex-direction: column;
     align-items: center;
  }
  .character {
    width: 100%;
  }
  .work{
    width: 100%;
  }
}

@media (max-width: 800px){
  .logo-princ p{
    display: none;
  }
}
