.title-main
{
  font-size: 50px;
  font-family: 'vtks_beautiful_dreamsregular';
  color: rgb(150, 2, 30);
  text-align: center;
  text-shadow: 10px 10px 10px rgb(100, 2, 15);
}
.title-second
{
  font-size: 40px;
  font-family: 'black_rose_personal_useRg';
  color: rgb(150, 2, 30);
}
.title-third
{
  font-size: 20px;
  font-family: 'curse_of_the_zombieregular';
}

#haut>div
{
  background:url(../ressources/images/background/Nezuko2.png) repeat;
  background-size: cover;
}

.list-main,
.second-list{
  background-color: rgba(125, 6, 6,0.2);
}

.list-main:hover,
.second-list:hover{
  background-color: rgba(125, 6, 6, 0.8);
}

.natural{
  overflow: hidden;
}

.natural figure:first-of-type{
  float: left;
}

.natural p:first-of-type{
  padding-bottom: 5%;
  padding-top: 3%;
}

.mvts{
  justify-content: center;
}
