.title-main{
  font-size: 58px;
  font-family: 'electrox_regular';
  color: rgb(204, 163, 0);
  text-align: center;
  text-shadow: 10px 10px 10px black;
}
.title-second{
  font-size: 36px;
  font-family: 'electrox_regular';
  color: rgb(204, 122, 0);

}
.title-third{
  font-size: 28px;
  font-family: 'woodcutter_electricregular';
}

#haut>div
{
  background:url("../ressources/images/background/Zen'itsu1.jpg");
  background-size: cover;
}

.list-main,
.second-list{
  background-color: rgba(125, 6, 6,0.2);
}

.list-main:hover,
.second-list:hover{
  background-color: rgba(125, 6, 6, 0.8);
}
